.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 0.5rem;
}

.modal-content {
  margin-top: 1rem;
  border-radius: 0.5rem;
}

.modal-content-input {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

.modal-content textarea {
  resize: vertical;
}

.close-modal {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: right;
  gap: 0.7rem;
}

.modal-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0;
  transition: filter ease-in-out 0.1s;
  cursor: pointer;
}

.modal-button:hover {
  filter: brightness(0.95);
}

.modal-buttons #cancel-task {
  background-color: lightgray;
}

.modal-buttons #confirm-task {
  background-color: greenyellow;
}

.task-modal {
  display: none;
}

/* Color input */

input[type="color"] {
  width: 3rem;
  height: 40px;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0;
  border: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 0.5rem;
}

input[type="color"]:hover {
  transform: scale(1.04);
}
