/* Normalize page */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 1em 10em;
  background-color: aliceblue;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TASKS  */
.task-box {
  background-color: lightsteelblue;
  padding: 2em;
  border-radius: 0.5em;
  flex: 1;
}

.tasks-container {
  margin-top: 3em;
}

/* TASKS MANAGEMENT  */
.task-mgmt-container {
  display: flex;
  margin-top: 1em;
  gap: 1em;
  justify-content: center;
}

.current-tasks-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 1em;
}

/* BUTTONS */

.button {
  padding: 2em;
  border-radius: 0.5em;
  flex: 0.3;
}

.new-task-button {
  background-color: burlywood;
}

.edit-task-button {
  background-color: bisque;
}

.task-done-button {
  background-color: orange;
}
