/* Reset page */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 1rem 10rem;
  background-color: #e2e8f0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-bottom: 6.25rem;
}

/* TASKS  */
.task-box {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: lightsteelblue;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.tasks-container {
  margin-top: 2rem;
}

.current-tasks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* TASKS MANAGEMENT  */
.task-mgmt-container {
  display: flex;
  justify-content: center;
  gap: 1rem;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  margin-bottom: 0.5rem;
}

.new-task-button {
  background-color: #7b68ee;
}

.edit-task-button {
  background-color: royalblue;
}

.task-done-button {
  background-color: dodgerblue;
}

.floating-button {
  padding: 1.5rem;
  border-radius: 0.5rem;
  flex: 0.3;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  color: #ffffff;
  min-width: fit-content;
}

.floating-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  filter: brightness(0.85);
}

/* MODAL */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container {
  display: flex;
  flex-direction: column;
  background-color: azure;
  margin: 10% auto;
  padding: 20px;
  width: 300px;
  border-radius: 0.5rem;
}

.modal-content {
  margin-top: 1rem;
}

.modal-content-input {
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

.modal-content textarea {
  resize: vertical;
}

.close-modal {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* NEW TASK MODAL */

.new-task-modal {
  display: none;
}

input[type="color"] {
  width: 3rem;
  height: 40px;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0;
  border: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 0.5rem;
}

input[type="color"]:hover {
  transform: scale(1.04);
}
