/* Reset page */
* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 1rem 10rem;
  background-color: #e2e8f0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-bottom: 6.25rem;
}

/* TASKS  */
.task-box {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 300px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: lightsteelblue;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  transition:
    transform 0.1s ease-in-out,
    border 0.1s ease-in-out;
}

.task-box:hover {
  filter: brightness(0.95);
}

.task-box-selected {
  border: 1px solid black;
  transform: translateY(-3px);
}

.tasks-container {
  margin-top: 2rem;
}

.current-tasks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* TASKS MANAGEMENT  */
.task-mgmt-container {
  display: flex;
  justify-content: center;
  gap: 1rem;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  margin-bottom: 0.5rem;
}

.new-task-button {
  background-color: #7b68ee;
}

.edit-task-button {
  background-color: royalblue;
}

.task-done-button {
  background-color: dodgerblue;
}

.floating-button {
  padding: 1.5rem;
  border-radius: 0.5rem;
  flex: 0.3;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 1000;
  color: #ffffff;
  min-width: fit-content;
}

.floating-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  filter: brightness(0.85);
}
